run = "streamlit run launcher.py --server.port=8501 --server.address=0.0.0.0"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "streamlit run launcher.py --server.port=8501 --server.address=0.0.0.0"]
